/*Global Site Styles*/


* {
    box-sizing: border-box;
  }

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: #E1E6FA;
    display: flex;
    flex-direction: column;
}


/*Header sytles*/
.header_area{
    background: #384961;
/*    background: #ad3f89;*/
    height: 70px;
}


.header_text h1{
    margin-top: 0;
    padding: 16px ;
    color:#f5f5f5;
    text-align: center;
}



/*Main area, contains the nav and content area*/
.main{
    height: auto;
    display: flex;
    flex-grow: 1;
}



/*nav styles*/

.nav{
    background: #475c7a;
    width: 200px;
    color:#E1E6FA;
}

.nav h2{
    text-align: center;
}

.nav_btn{
    height: 50px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
}



.nav_btn a{
    display: inline-block;
    background: #7A536C;
    text-decoration: none;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
}

.nav_btn a:hover{
background: #875C77;
}


.op_control{
    display: flex;
    justify-content: flex-start;
}
.control_btn{
margin-bottom: 16px;
}

.control_btn a{
    display: inline-block;
    background: #5791d8;
    text-decoration: none;
    padding: 1em;
    color: #f5f5f5;
}

.control_btn a:hover{
    background: #5C9AE6;
}


/*Content area styles*/
.content-wrapper{
    width: 80%;
    margin: 0 auto;
    padding-left: 5px;
}


.content_message{
    font-family: 'Courier New', monospace;
    font-size: 24px;
    
    margin-left: 10px
}


/*Box styles*/

.box{
    background: #475c7a;
    height: 200px;
    width: 300px;
}

.box:hover{
    background: #4E6687;
}

.box_heading h1{
    color: whitesmoke;
    text-align: center;
    font-size: 36px;
}


.box_value h1{
    color: whitesmoke;
    text-align: center;
    font-size: 48px;
}



/*Box Row Styles*/

.box_row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.box, .chart{
margin-bottom: 20px;
}

.chart-center{
    margin: 24px auto;
}

.content{
    background-image: url(../images/gear.png);
    background-attachment: fixed;
    background-size: cover;
}



/*
.footer_area{
    height: auto;
    background: #685D79;
    
}
*/


