/*==== GLOBAL STYLES =========================================================== */

*,
*::before,
*::after{box-sizing:border-box;}a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:#f2f2f2; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}


html,body{
    margin: 0;
    height: 100%;
    /* background: #475c7a; */
    /* background-color: #7f8184;
    background-color: #58646B; */
    background:
    linear-gradient(
      rgba(88, 100, 107, 0.85), 
      rgba(88, 100, 107, 0.85)
    ),
    /* bottom, image */
    url(./images/factory_background.jpg);
   
    background-attachment:fixed;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.heading{
    font-size: 2em;
    font-weight: Bold;
}

/*================================================================== GLOBAL STYLES = */










/*= BASIC SITE STRUCTURE ============================================================ */

.site-container{
    height:100%;
    display: grid;
    grid-template-columns: 235px 1fr;
    grid-auto-rows: 70px 40px 24px auto;
    }


._header{
    grid-column: 1/-1;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 175px repeat(auto-fit,minmax(400px,1fr));
    position: fixed;
    top:0px;
    padding-bottom: 1px;
    width: 100%;
}


._side-bar-menu{
    grid-column: 1/2;
    grid-row: 2 /span 3;
    position: fixed;
    top:73px;
    left:0;
    width: 235px;
    height: 100%;

}

._top-nav{
    grid-column: 2/-1;
    grid-row-start: 2;
    width: 85.86891161%;
    position: fixed;
    top:74px;
    padding-top: 3px;
    left:235px;
}

.page-title{
    grid-column: 2/-1;
    grid-row-start: 3;
    width: 85.86891161%;
    position: fixed;
    left:235px;
    top:112px;
}


._content{
    grid-column: 2/-1;
    grid-row-start: 4;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit,100%);
    grid-auto-rows:max-content;
    justify-content: center;
    padding: 50px;
    
}



/*============================================================ BASIC SITE STRUCTURE = */







/*= HEADER AREA ================================================================ */

._header{
    /* background: #263238; */
    background-color: #444748;
    color: #f5f5f5;
}


.header-title{
    padding-right: 40px;
    padding-bottom: 8px;
    align-self: end;
    justify-self: end;
    font-family: 'Courier New', Courier, monospace;
}
    
.header-logo img{
    height: 70px;
}

/*==================================================================== HEADER AREA = */









/*= TOP NAV ================================================================ */
._top-nav{
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit,minmax(150px,1fr)); */
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /* background-color: #f5f5f5; */
    background-color: #7f8184;
    background-color: #e0e4ea;
}

.top-nav-link{
    width: 200px;
    border-radius: 25px 25px 0 0;
}


.top-nav-link a{
    display: inline-block;
    background-color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 8px 0;
    border-radius: 5apx 5px 0 0;
    transform: translateY(5px);
    
 }
 
 .top-nav-link a:hover{
    color:#aca2a2;
    background-color: #263238;
    background-color: #444748;
    transition-duration: .45s;
    transform: translateY(0px);
  }


  .top-nav-link .tab-active{
    color:#cecece;
    /* background-color: #263238; */
    background-color: #444748;
    transition-duration: .45s;
    transform: translateY(0px);
}

/*================================================================ TOP NAV = */










/*= PAGE TITLE ================================================================*/
.page-title{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 20px;
    font-size: 1.3em;
    text-align: center;
    padding-top: 1px;
    color:#cecece;
    /* background-color: #263238; */
    background-color: #444748;

}
/*=============================================================== PAGE TITLE = */









/*= SIDE BAR MENU ============================================================ */


._side-bar-menu{
    background-color: #263238;
    background-color: #444748;
}

._nav{
    color:#E1E6FA;
    display: flex;
    flex-direction: column;
    width: 210px;
    margin-left: 5px;
}

._nav h2{
    text-align: center;
}

.nav_btn{
    height: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;

}

.nav_btn a{
    display: inline-block;
    background: #7A536C;
    background-color: #7D7EDB;
    background-color: #6A605C;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
}

.nav_btn a:hover{
background: #875C77;
background-color: #DBC45C;
background-color: #7D7EDB;
}
/*============================================================ SIDE BAR MENU = */




/*= CONTENT AREA ============================================================ */
/*============================================================ CONTENT AREA = */





/* -----------------------Start NEW JOB----------------------------------------  */

.content-row-start-job{
    width: 1125px;
    height: 540px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    padding: 36px;
    display: grid;
    grid-row-gap: 36px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(7,36px);
    grid-template-areas:
    
    "l1 l1 l1 i1 i1 . cb cb cb cb cb cb"
    "l2 l2 l2 i2 i2 . cb cb cb cb cb cb"
    "l3 l3 l3 i3 i3 . nw nw nw nw nw nw"
    "l4 l4 l4 i4 i4 . nw nw nw nw nw nw"
    "l5 l5 l5 i5 i5 . nw nw nw nw nw nw"
    "l6 l6 l6 i6 i6 . nw nw nw nw nw nw"
    "l7 l7 l7 i7 i7 . . . sub sub . ."
    ;
}

.content-row-start-job > :nth-child(1){
    grid-area: l1;                        
}
.content-row-start-job > :nth-child(2){
    grid-area: l2;
}
.content-row-start-job > :nth-child(3){
    grid-area: l3;
}
.content-row-start-job > :nth-child(4){
    grid-area: l4;
}
.content-row-start-job > :nth-child(5){
    grid-area: l5;
}
.content-row-start-job > :nth-child(6){
    grid-area: l6;
}
.content-row-start-job > :nth-child(7){
    grid-area: l7;
}

.content-row-start-job > :nth-child(8){
    grid-area: i1;
}
.content-row-start-job > :nth-child(9){
    grid-area: i2;
}
.content-row-start-job > :nth-child(10){
    grid-area: i3;
}
.content-row-start-job > :nth-child(11){
    grid-area: i4;
}
.content-row-start-job > :nth-child(12){
    grid-area: i5;
}
.content-row-start-job > :nth-child(13){
    grid-area: i6;
}

.content-row-start-job > :nth-child(14){
    grid-area: i7;
}


.ckbx-container{
    grid-area: cb;
}

.note-wrap{
    grid-area: nw;
}

.submit{
    grid-area: sub;
}

.ckbx-container{
    display: grid;
    height: 108px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,36px);
    /* border: 1px solid #bdc0c3; */
    background-color: #606364;
    /* background-color: #6c8892; */
    border-radius: 5px;
    -moz-box-shadow: inset 0px 3px 39px #444748;
    -webkit-box-shadow: inset 0px 3px 39px #444748;
    box-shadow: inset 0px 3px 39px #444748;
    justify-content: center;
    align-items: center;
    grid-template-areas:
    "T T"
    "IP PA"
    "IPC PAC"
    ;
}


.ckbx-heading{
grid-column: T;
text-align: center;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
font-size: 1.3em;
/* padding-bottom: 17px; */
}


.ip-test{
    grid-column: IP;
    font-size: 1em;
    text-align: center;
    color: #f5f5f5;
}

.pa-test{
    grid-column: PA;
    font-size: 1em;
    text-align: center;
    color: #f5f5f5;
}


.ckbx-ip{
    grid-column: IPC;
    justify-self: center;
    align-self: center;
    height: 16px;
}
.ckbx-pa{
    grid-column: PAC;
    justify-self: center;
    align-self: center;
    height: 16px;
}



.switch{
    position: relative;
    width: 50px;
    height: 25px;
}


  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#444748;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: #f5f5f5;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;
  }
  
  input:checked + .slider {
    background: #aadfaa;
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.2);

    
  }
  

  
  input:checked + .slider:before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(25px) ;
    /* transform-origin: 50% 55%; */

   
  }















.note-wrap{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    height: 252px;

}

.note-wrap label{
    font-size: 1.4em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.note-wrap textarea{
    margin-top: 10px;
    font-size: 1.2em;
    height: 220px;
    font-family: 'Courier New', Courier, monospace;
}

#form-submit{
    height: 36px;
    border: none;
    background-color:#aadfaa;
    color: #585656;
    font-size: 18px;
}

#form-submit:hover{
    background: #85c58b;
    transition-duration: .2s;
} 



.form-label{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.4em;
    padding-right: 20px;
}

.content-row-start-job input, .content-row-start-job select {
    min-width: 174.3;
    height: 28px;
    font-size: 1em;
}




/* -----------------------UPDATE JOB----------------------------------------  */




.content-row-update-job{
    width: 1125px;
    /* height: 606px; */
    justify-self: center;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    display: grid;
    padding: 36px;
    grid-row-gap: 24px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(10,36px);
    grid-template-areas:
    "l1 l1 l1 i1 i1 . cbu cbu cbu cbu cbu cbu"
    "l2 l2 l2 i2 i2 . cbu cbu cbu cbu cbu cbu"
    "l3 l3 l3 i3 i3 . nwu nwu nwu nwu nwu nwu"
    "l4 l4 l4 i4 i4 . nwu nwu nwu nwu nwu nwu"
    "l5 l5 l5 i5 i5 . nwu nwu nwu nwu nwu nwu"
    "l6 l6 l6 i6 i6 . nwu nwu nwu nwu nwu nwu"
    "l7 l7 l7 i7 i7 . nwu nwu nwu nwu nwu nwu"
    ". . . . . . l9 l9 l9 i9 i9 ."
    "l8 l8 l8 l8 l8 . l10 l10 l10 i10 i10 ."
    ". . . . . . . . sub sub . ."
    ;
}

.content-row-update-job > :nth-child(1){
    grid-area: l1;                        
}
.content-row-update-job > :nth-child(2){
    grid-area: l2;
}
.content-row-update-job > :nth-child(3){
    grid-area: l3;
}
.content-row-update-job > :nth-child(4){
    grid-area: l4;
}
.content-row-update-job > :nth-child(5){
    grid-area: l5;
}
.content-row-update-job > :nth-child(6){
    grid-area: l6;
}
.content-row-update-job > :nth-child(7){
    grid-area: l7;
}

.content-row-update-job > :nth-child(8){
    grid-area: l8;
}


.content-row-update-job > :nth-child(9){
    grid-area: i1;
}


.content-row-update-job > :nth-child(10){
    grid-area: i2;
}
.content-row-update-job > :nth-child(11){
    grid-area: i3;
}
.content-row-update-job > :nth-child(12){
    grid-area: i4;
}
.content-row-update-job > :nth-child(13){
    grid-area: i5;
}

.content-row-update-job > :nth-child(14){
    grid-area: i6;
}

.content-row-update-job > :nth-child(15){
    grid-area: i7;
}



.content-row-update-job > :nth-child(18){
    grid-area: l9;
}

.content-row-update-job > :nth-child(19){
    grid-area: l10;
}


.content-row-update-job > :nth-child(20){
    grid-area: i9;
}

.content-row-update-job > :nth-child(21){
    grid-area: i10;
}


.content-row-update-job > :nth-child(22){
    grid-area: sub;
}




.radio-wrap{
    grid-area: cbu ;
    display: flex;
    flex-direction: column;
    height: 108px;
    justify-content: space-evenly;
    background-color: #606364;
    /* background-color: #1a7999;
    background-color: #6c8892; */
    border-radius: 5px;
    -moz-box-shadow: inset 0px 3px 39px #444748;
    -webkit-box-shadow: inset 0px 3px 39px #444748;
    box-shadow: inset 0px 3px 39px #444748;
}
    


.radio-switch{
    position: relative;
    display: flex;
    color: #f5f5f5;
    background: rgba(0, 0, 0, 0.25);
    height: 33px;
    background-color: #353333;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
    z-index: 2;
  }

.radio-switch label{
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 12px;
    height: 100%;
    z-index: 2;
}


  input[type=radio]:checked + label{
    background-color:#aadfaa;
    color: #353333;
    box-shadow: inset 5px 6px 9px rgba(0, 0, 0, 0.2);
  }

  #abort:checked + label{
    background-color:#dfaaaa;
    color: #c31f27;
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.2);
  }

  /* input[type=radio]:focus{
    box-shadow: inset 5px 6px 9px rgba(0, 0, 0, 0.2);
  } */
  

.note-wrap-update{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    height: 252px;
    grid-area: nwu;

}

.note-wrap-update label{
    font-size: 1.4em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.note-wrap-update textarea{
    margin-top: 10px;
    font-size: 1.2em;
    height: 220px;
    font-family: 'Courier New', Courier, monospace;
}


.form-label-update{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.4em;
    padding-right: 20px;
}

.content-row-update-job .form-input{
    min-width: 200px;
    height: 28px;
    font-size: 1em;
}


#update-submit{
    height: 36px;
    border: none;
    background: #aadfaa;
    color: #444748;
    font-size: 18px;
}

#update-submit:hover{
    background: #84cf8a;
    transition-duration: .2s;
} 


.timestamp{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    justify-content: space-between;
    /* color: #b6aeae; */

}
.timestamp >:nth-child(1){
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.5em;
}
.timestamp >:nth-child(2){
 font-size: 1.2em;
}

.update-label{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.4em;
    padding-right: 20px;
}

.timestamp{
   grid-area: l8;
   justify-self: center;
}


/* VIEW COMPLETED RECORD =================================================================================== */









.content-row-record-view{
    width: 1125px;
    /* height: 606px; */
    justify-self: center;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    display: grid;
    padding: 36px;
    grid-row-gap: 24px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,36px);
    grid-template-areas:
    "l1 l1 l1 i1 i1 . nwu nwu nwu nwu nwu nwu"
    "l2 l2 l2 i2 i2 . nwu nwu nwu nwu nwu nwu"
    "l3 l3 l3 i3 i3 . nwu nwu nwu nwu nwu nwu"
    "l4 l4 l4 i4 i4 . nwu nwu nwu nwu nwu nwu"
    "l5 l5 l5 i5 i5 . nwu nwu nwu nwu nwu nwu"
    "l6 l6 l6 i6 i6 . nwu nwu nwu nwu nwu nwu"
    "l7 l7 l7 i7 i7 . nwu nwu nwu nwu nwu nwu"
    ". . . . . .  back back . . sub sub "
    ;
}
/* ============= Labels ================= */
.content-row-record-view > :nth-child(1){
    grid-area: l1;    /*job name label*/                    
}
.content-row-record-view > :nth-child(2){
    grid-area: l2;  /*compleated by label*/  
}
.content-row-record-view > :nth-child(3){
    grid-area: l3; /*work order by label*/  
}
.content-row-record-view > :nth-child(4){
    grid-area: l4; /*work cell label*/  
}
.content-row-record-view > :nth-child(5){
    grid-area: l5;  /*job type label*/
}
.content-row-record-view > :nth-child(6){
    grid-area: l6; /*job weight label*/ 
}
.content-row-record-view > :nth-child(7){
    grid-area: l7; /*completed date label*/ 
}


/* ============= Values =============== */

.content-row-record-view > :nth-child(8){
    grid-area: i1;  /*job name value*/  
}


.content-row-record-view > :nth-child(9){
    grid-area: i2;  /*operator value*/  
}

.content-row-record-view > :nth-child(10){
    grid-area: i3; /*work order value*/
}
.content-row-record-view > :nth-child(11){
    grid-area: i4; /*work cell value*/
}
.content-row-record-view > :nth-child(12){
    grid-area: i5; /*job type value*/
}
.content-row-record-view > :nth-child(13){
    grid-area: i6; /*weight value*/
}

.content-row-record-view > :nth-child(14){
    grid-area: i7; /*complete date value*/
}


.content-row-record-view > :nth-child(16){
    grid-area: sub;
}

.content-row-record-view > :nth-child(17){
    grid-area: back;
}



.note-wrap-record-view{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    height: 394px;
    grid-area: nwu;

}

.note-wrap-record-view label{
    font-size: 1.4em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.note-wrap-record-view textarea{
    margin-top: 10px;
    font-size: 1.2em;
    height: 394px;
    font-family: 'Courier New', Courier, monospace;
}


.form-label-update{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.4em;
    padding-right: 20px;
}

.content-row-record-view .form-input{
    min-width: 200px;
    height: 28px;
    font-size: 1em;
}


#record-submit{
    height: 36px;
    border: none;
    background: #74da7d;
    color: #f5f5f5;
    font-size: 18px;
}

#record-submit:hover{
    background: #65BF6D;
    transition-duration: .8s;
} 

.record-nav_btn{
    height: 36px;
    text-align: center;
}


.record-nav_btn a{
    height: 36px;
    display: inline-block;
    background: #ee3636;
    padding: .5em;
    width: 100%;
    color: #f5f5f5;
}

.record-nav_btn a:hover{
background: #d86161f3;
transition-duration: .8s;
}



.record-label{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.4em;
    padding-right: 20px;
}










/* =================================================================================== VIEW COMPLETED RECORD */


/* GLOBAL TABLE AREA================================================================================== */

.content-row-table{
    background-color: #f5f5f5;
    border-radius: 5px 5px 0 0;
    max-height: 560px;
    overflow-x: scroll;
    }


.Job-list-table{
    border-collapse: collapse;
    width: 100%;
    margin:0;
    font-size: 0.9em;
    min-width: 860px;
    background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(0,0,0, 0.15);
   
    }

    .table-header{
        display: flex;
        background:#444748;
        padding: 10px 0;
        justify-content: space-around;
    }
    .range-search-complete{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 5px;
        background-color: #353333;
        padding: 10px;
       
    }

    .count-box{
        padding: 10px;
        border-radius: 5px;
        background-color: #353333;
    }


    .quick-search{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        min-width: 600px;
        border-radius: 5px;
        background-color: #353333;
    }



    #range-search-submit{
        background-color: transparent;
        background-image: url(./images/Search_Icon.svg);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        cursor: pointer;
        }
        



    .range-search-complete form{
        display: flex;
        justify-content: center;
    }
 
    .dateSelect{
        text-align: right;
    }

    .dateSelect label, h3, .quick-search-heading{
        color: #f5f5f5;
        font-size: 1.2em;
        font-family: 'Courier New', Courier, monospace;
    }


    .count-label, .count-value{
        align-self: center;
        text-align: center;
        padding: 5px;
        font-size: 1.2em;
        font-family: 'Courier New', Courier, monospace;
    }

    .count-value{
        font-weight: bold;
    }



    .quick-search-forms{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    

    .quick-search input{
        height: 30px;
        width: 100px;
        border: none;
        cursor: pointer;
        background-color: #fff;
    }
    
    .quick-search input:hover{
     background-color: #e2dfdf;
    }
    


    .table-header-running-jobs{
        height: 100px;
        background-color: #444748;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .table-header-running-jobs form{
        display: flex;
        justify-content: space-evenly;
        background-color: #353333;
        height: 60px;
        align-items: center;
        padding: 10px;
    }

    .table-header-running-jobs form div{
        margin: 0 25px;
    }

    .table-header-running-jobs form label{
      color: #f5f5f5;
      font-size: 1.3em;
      font-family: 'Courier New', Courier, monospace;
    }









    

    .Job-list-table thead tr{
        background-color: #444748;
        color: #f5f5f5;
        text-align: left;
        font-weight: bold;
    }


.Job-list-table th{
    background-color: #444748;
    position: sticky;
    top:0;
}



.Job-list-table th,
.Job-list-table td{
    padding: 12px 15px;
}

.Job-list-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.Job-list-table tbody tr:nth-of-type(odd){
    background:#f2f2f2;
}


.Job-list-table tbody tr:last-of-type{
    border-bottom: 2px solid #374946;
}


.table-sub-button{
    height: 36px;
 
    background-color: #3f4242;
    border: none;
    color:#f5f5f5;
    min-width: 100px;
    font-weight: bold;
    border-radius: 5px;
}

.table-sub-button:hover{
    background-color: #7D7EDB;
}





    

/*==================================================================================  GLOBAL TABLE AREA */









/* RUNNING JOBS TABLE AREA================================================================================== */




/*==================================================================================  RUNNING JOBS TABLE AREA */








/* COMPLETE JOBS TABLE AREA================================================================================== */




/*==================================================================================   COMPLETE JOBS TABLE AREA*/












































































.content-row-panels{
    display: flex;
    justify-content: space-between;
}




.panel{
    background: #fff;
    height: 150px;
    width:275px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 66.6666px, 133.33333px;
    cursor: pointer;
}

.panel-heading{
    max-height: 66.6666px;
    grid-column: 1/1;
    grid-row: 1/2;
    background:#f5f5f5;
}

.panel-heading h1{
    padding-top: 16px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.panel-value h1{
    text-align: center;
    font-size: 2.5em;
    
}

.dashboard-message{
color: #f5f5f5;
font-family: 'Courier New', Courier, monospace;
font-size: 1.3em;
}

.dashboard-message p{
    padding: 5px 0;
}















.chart {
    --scale: 12 ;
  
    
    /* Setup the grid */
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(var(--scale), minmax(0, 1fr)) 1.4rem;
    grid-column-gap: 15px;
  
    /* Generate background guides */
    /* (sub-pixel rounding errors make this imperfect) */
    --line-every: 3;
    background-image: linear-gradient(to bottom, #ccc 1px, transparent 1px);
    background-size: 100% calc((100% - 1.4rem) / var(--scale) * var(--line-every));
    
    /* other styles… */
    margin: 2em auto 1em;
    padding: 0 1em;
    position: relative;
    max-width: 70vw;
    height: calc(50vh - 10em);
    
  }
  
  .chart::after {
    background: #f5f5f5;
    bottom: 0;
    content: ' ';
    height: 1.4rem;
    left: 0;
    position: absolute;
    right: 0;
  }
  
  
  
  
  .cell {
    align-items: center;
    display: flex;
    font-weight: bold;
    grid-row-start: -2;
    justify-content: center;
    text-align: center;
    z-index: 2;
    color: rgb(95, 93, 93);
  }
  
  
  /* Each bar on the graph… */
  /* ---------------------- */
  
  .bar {
    grid-row: var(--start) / -2;
    
    /* Background-Color */
    background-color: #475c7a;
    /* Other styles… */
    border-radius: 5px 5px 0 0;
    list-style: none;
    position: relative;
  }
  
  .value {
    background: transparent;
    bottom: 100%;  
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    left: 50%;
    padding: 0 0.4em;
    position: absolute;
    transform: translate(-50%, -1px);
    color: rgb(95, 93, 93);
  }
  
  .content-row-bar-chart{
      background-color: #f5f5f5;
  }
 
  /* job successf */
  .job-success{
      color: #f5f5f5;
      font-size: 1.3em;
      font-family: 'Courier New', Courier, monospace;
  }

  .job-success h1{
    font-size: 1.3em;
    font-weight: bold;
}

.job-success a{
    background-color: rgb(209, 123, 123);
    padding: 10px;
}


.job-success a:hover{
    background-color: rgb(167, 105, 105);
    transition-duration: .3s;
}

.job-success div{
    margin: 20px 0;
}