/*Global Site Styles*/


* {
    box-sizing: border-box;
  }

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: #E1E6FA;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}


.nav a:visited{
    color: #f5f5f5 !important
}


/*Header sytles*/
.header_area{
    background: #384961;
/*    background: #ad3f89;*/
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header_logo_container{
    flex-grow: 1;
}

.header_logo_container img{
    height: 70px;
}



.header_text h1{
    margin-top: 20px;
    padding-right: 70px;
    color:#e4e3e3;
    font-family: 'Courier New', Courier, monospace;
}


/* Header SUB NAV */


.sub-nav-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    color: #e4e3e3;
    position: fixed;
    z-index: 3;
    left: 200px;
    height: 70px;
    top:80px;
    width: 100%;
  }


.sub-nav-heading-container{
    background-color: #f5f5f5;
    color:#4d4141;
    width: 200px;
  }

  .sub-nav-heading-header{
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
  
  
  .sub-nav{
    width: 60%;
  }

  .sub-nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: 0;
  }

  .sub-nav ul li{
    min-width: 120px;
    text-align: center;
  }
  
  .sub-nav ul li a{
    color: #9f9494;
    font-size: 1.3em;
  }


  li.active {
    border-bottom: #3c387d 8px solid;
  }
  
  a{
    text-decoration: none;
    }










































/*Main area, contains the nav and content area*/
.main{
    height: auto;
    display: flex;
    flex-grow: 1;
    position: relative;
   
}



/*nav styles*/

.nav{
    background: #475c7a;
    width: 200px;
    color:#E1E6FA;
    position:fixed;
    height: 100%;
    top:70px;
}

.nav h2{
    text-align: center;
}

.nav_btn{
    height: 50px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
}



.nav_btn a{
    display: inline-block;
    background: #7A536C;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
}

.nav_btn a:hover{
background: #875C77;
}


.op_control{
    display: flex;
    justify-content: flex-start;
}
.control_btn{
margin-bottom: 16px;
}

.control_btn a{
    display: inline-block;
    background: #5791d8;

    padding: 1em;
    color: #f5f5f5;
}

.control_btn a:hover{
    background: #5C9AE6;
}


/*Content area styles*/
.content-wrapper{
    width: 80%;
    margin: 0 auto;
    padding-left: 5px;
   
}

.content{
    position: relative;
    left: 100px;
    top: 170px;
    overflow-x: hidden;
}

.content_message{
    font-family: 'Courier New', monospace;
    font-size: 24px;
    
    margin-left: 10px
}


/*Box styles*/

.box{
    background: #475c7a;
    height: 200px;
    width: 300px;
    
}

.box:hover{
    background: #4E6687;
}

.box_heading h1{
    color: whitesmoke;
    text-align: center;
    font-size: 36px;
}


.box_value h1{
    color: whitesmoke;
    text-align: center;
    font-size: 48px;
}



/*Box Row Styles*/

.box_row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.box, .chart{
margin-bottom: 20px;
}

.chart-center{
    margin: 24px auto;
}

.content{
    background-image: url(images/gear.png);
    background-attachment: fixed;
    background-size: cover;
}






/* New Job Form Styles */

.start-job-form{
    margin: 0 auto;
    background-color: #f5f5f5;
    color: #535151;
}


.form-col-wrap{
    display: flex;
    flex-wrap: wrap;
    /* background: red; */
    justify-content: center;
    min-width: 600px;
    padding: 10px;
}



.form-col-left{
width:500px;
display: flex;
}

.form-col-right{
flex-grow: 1;
display: flex;
flex-direction: column;
}

.form-col-right div{
    margin: 15px 0;
}


/* left side form */

.form-table-input-block{

}

.form-table-input-block td{     
padding: 14px 0 14px 20px;
}

.form-label{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.4em;
    padding-right: 20px;
}

.form-input input, .form-input select {
    min-width: 220px;
    height: 32px;
    font-size: 1em;
}
/* right side of form */


.ckbx-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ckbx-heading,.ckbx-input-set{
    width: 80%;
}

.ckbx-heading{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.2em;
}

.ckbx-input-set{
    display: flex;
    justify-content: space-evenly;
   
}

.ckbx-input-set div{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}


.note-wrap{
    display: flex;
    flex-direction: column;
}

.note-wrap label{
    font-size: 1.4em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.note-wrap textarea{
    font-size: 1.2em;
    height: 125px;
    font-family: 'Courier New', Courier, monospace;
}


.fw-submit{
    display: flex;
    justify-content: center;
}

.field-wrap .submit{
    width: 200px;
    margin: 30px 0;
    height: 48px;
    border: none;
    background: #74da7d;
    color: #f5f5f5;
    font-size: 18px;
}

.field-wrap .submit:hover{
    background: #65BF6D;
} 

















/* label.w200{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
} */

/* .field-wrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

} */


/* label,input,select{
    font-size: 18px;
    height: 36px;
} */

/* .w200{
    min-width: 200px;
}  */

/* .field-wrap .submit{
    width: 200px;
    align-self: center;
    margin-top: 50px;
    height: 48px;
    border: none;
    background: #74da7d;
    color: #f5f5f5;
} */

/* .field-wrap .submit:hover{
    background: #65BF6D;
} */

/* .notes{
    height: 230px;
    font-size: 18px;
} */

/* .ckbx{
position: relative;
top: 15px;
width: 20px;
margin-left: 100px;
} */

/* fieldset h3{
    text-align: center;
}


.form-col-right{
    padding-top: 35px;
    flex-grow: 1;
    margin: 0 40px;
} */

/*
.footer_area{
    height: auto;
    background: #685D79;
    
}
*/








/* Table Styles */
.table-wrap{
    background: #fff;
    margin: 20px auto;
    border-radius: 6px;
    max-width: 1230px;
    overflow-x: auto;
    max-height: 600px;
}


.table-header{
    display: flex;
    padding: 5px;
    min-width: 900px;
    background: #475c7a;
    overflow-x: auto;
}


.table-header h2{
    margin-right: 16px;
    margin-left: 12px;
    color: #f2f2f2;
}

.runningJobs td{
    width: auto;
    min-width: 125px;
    height: 50px;
}


.runningJobs thead tr, .runningJobs tr:nth-child(even){background-color: #f2f2f2;}


.runningJobs th, .runningJobs td{
    padding: 8px 5px;
  }



  .runningJobs th{
    vertical-align: bottom;
    text-transform: uppercase;
    letter-spacing: .1em;
}

 .table-sub-button{
    background: #475c7a;
    text-align: center;
    border:none;
    color: #f5f5f5;
    padding: 5px;
    height: 40px;
    width: 120px;
}

.tbl-link{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-sub-button:hover{
    background: #67c45f;
    /* color:#384961; */
    transition-duration: .25s;
}



.table-footer{
    height: 100px;
    background: #f5f5f5;
}


.job-details-update tr td p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    padding: 0;
}

.job-details-update tr td{
    height: 20px;
    padding: 0;
}

.jdu-label{
    font-weight:bolder;
    text-align: left;
}

.jdu-value p{
    margin-left: 50px;   
}



.details-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #f5f5f5;
    padding: 16px;
}



.jdu-col-right{
    width: auto;
}


.jdu-col-left{
    width: auto;
}

.timestamp{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    padding: 0;
    text-align: center;
}

.jdu-col-right form{
    width: 600px;
}

.radio-wrap{
    display: flex;
    justify-content: space-evenly;
}

.radio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.next_op{
    position: relative;
    left: 8px;
}






/* Color Theme Swatches in Hex */
.Nazareth-1-hex { color: #929597; }
.Nazareth-2-hex { color: #508BBF; }
.Nazareth-3-hex { color: #D9BD89; }
.Nazareth-4-hex { color: #BF6060; }
.Nazareth-5-hex { color: #F2F2F2; }

/* Color Theme Swatches in RGBA */
.Nazareth-1-rgba { color: rgba(145, 149, 151, 1); }
.Nazareth-2-rgba { color: rgba(79, 138, 191, 1); }
.Nazareth-3-rgba { color: rgba(216, 188, 137, 1); }
.Nazareth-4-rgba { color: rgba(191, 96, 96, 1); }
.Nazareth-5-rgba { color: rgba(242, 242, 242, 1); }

/* Color Theme Swatches in HSLA */
.Nazareth-1-hsla { color: hsla(203, 2, 58, 1); }
.Nazareth-2-hsla { color: hsla(208, 46, 53, 1); }
.Nazareth-3-hsla { color: hsla(38, 51, 69, 1); }
.Nazareth-4-hsla { color: hsla(0, 42, 56, 1); }
.Nazareth-5-hsla { color: hsla(0, 0, 94, 1); }