 {% extends "layout.html"%}

    {% block body%}

    <div class="content-row-table">
            <div class='table-header'>
                <form class="range-search-complete" action="">  
                    <div>
                        <input id="range-search-submit" class="table-sub-button" type="submit" name="" value=' '/>
                    </div>

                    <table class="dateSelect">
                        <tr> 
                        <td><label for="filter1">Range Start: </label></td> 
                        <td><input type="date" id='filter1'>  </td>  
                        </tr>   

                        <tr>
                        <td><label for="filter1">Range End: </label></td>  
                        <td><input type="date" id='filter1'> </td>   
                        </tr> 
                    </table>

                    <div class="count-box">
                        <h3 class="count-label">Job Count</h3>
                        <h3 class="count-value">23</h3>
                    </div>

                    <div class="quick_search">
                        <button>Today</button>
                        <button>Yesturday</button>
                        <button>This Week</button>
                        <button>This Month</button>
                    </div>
                
                 <!-- <div>
                    <label for="filter1">Operator: </label>
                    <input type="text" id='filter1'>   
                 </div> -->
             </form>   
            </div>
            
    
    <table class="Job-list-table">
       <thead>
        <tr>
            <th></th>
            <th>Job</th>
            <th>Work order</th>
            <th>cell</th>
            <th>Status</th>
            <th>Weight</th>
            <th>Complete By</th>
            <th>Complete On</th>
        </tr>
    </thead>
     
       <div class="table-body">
            <tbody>
                {% for job in jobs  %}
                <tr>
                <td class="tbl-link">
                    <form action="" method="POST">
                        <input class="table-sub-button" type="submit" name="" value='View Job'/>
                        <input type="hidden" name="JobID" value="{{job['jobID']}}" />
                    </form>
                </td>
                
                    <td>{{job['job']}}</td>
                    <td>{{job['workorder']}}</td>
                    <td>{{job['cell']}}</td>
                    <td>{{job['status']}}</td>
                    <td style="text-align: right;">{{job['weight']}} KG</td>
                    <td>{{job['operator']}}</td>
                    <td>{{job['timestamp']}}</td>
                </tr>

             {% endfor %}  
            </tbody>
        </div>
    </table>       


</div>
      {% endblock %}
 

