{% extends "layout.html"%}

    {% block body%}

    <div class="content-col">

        <div class="content-row">

            <div class='table-header'>
                <form class="complete-search" action="">  
                 <fieldset>
                     <legend>Date Search</legend>
                    <div> 
                        <label for="filter1">Range Start: </label>
                        <input type="text" id='filter1'>   
                     </div>   
                     <div>
                        <label for="filter1">Range End: </label>
                        <input type="text" id='filter1'>   
                     </div> 
                 </fieldset>   
                
                 <div>
                    <label for="filter1">Operator: </label>
                    <input type="text" id='filter1'>   
                 </div>
                </form>   
               </div>
            
        </div>


        <div class="content-row">

            
   <div class="table-wrap">	
    <table class="runningJobs">
       <thead>
        <tr>
            <th></th>
            <th>Job</th>
            <th>Work order</th>
            <th>cell</th>
            <th>Status</th>
            <th>Weight</th>
            <th>Complete By</th>
            <th>Complete On</th>
        </tr>
    </thead>
     
       <div class="table-body">
            <tbody>
                {% for job in jobs  %}
                <tr>
                <td class="tbl-link">
                    <form action="" method="POST">
                        <input class="table-sub-button" type="submit" name="" value='View Job'/>
                        <input type="hidden" name="JobID" value="{{job['jobID']}}" />
                    </form>
                </td>
                
                    <td>{{job['job']}}</td>
                    <td>{{job['workorder']}}</td>
                    <td>{{job['cell']}}</td>
                    <td>{{job['status']}}</td>
                    <td style="text-align: right;">{{job['weight']}} KG</td>
                    <td>{{job['operator']}}</td>
                    <td>{{job['timestamp']}}</td>
                </tr>

             {% endfor %}  
            </tbody>
        </div><!-- End table body  -->
    </table>       
</div>

        </div>

        
        <div class="content-row">

            <div class="table-footer"></div>


        </div>

   





</div>

      {% endblock %}


