


   <a href="/runningjobs"><div class="panel" id="panel_1">
      <div class="panel-heading">
         <h1>Running Jobs</h1>
      </div>
      <div class="panel-value " >
         <h1>{{output['runningJobs']}}</h1>
      </div>
   </div></a>


<form action="/test_land/" id="dash-panel-completed-today" method="POST">
   <div class="panel" id="panel_2">
      <div class="panel-heading">
         <h1>Today</h1>
      </div>
      <div class="panel-value">
         <h1>{{output['dayCount']}}</h1>
      </div>
      <input type="hidden" name="query-type" value="today">
   </div>
</form>


<form action="/test_land/" id="dash-panel-completed-week" method="POST">
   <div class="panel" id="panel_3">
      <div class="panel-heading">
         <h1>This Week</h1>
      </div>
      <div class="panel-value">
         <h1>{{output['weekCount']}}</h1>
      </div>
      <input type="hidden" name="query-type" value="week">
   </div>
</form>

   
<form action="/test_land/" id="dash-panel-completed-month" method="POST">
   <div class="panel" id="panel_4">
      <div class="panel-heading">
         <h1>This Month</h1>
      </div>
      <div class="panel-value">
         <h1>{{output['monthCount']}}</h1>
      </div>
      <input type="hidden" name="query-type" value="month">
   </div>
</form>
  


