<div class="box_set">
                
                
    <div class="box_row">
        
        <div class="box">
          <div class="box_heading">
             <h1>Running Jobs</h1>
          </div>
          <div class="box_value">
             <h1>{{output['runningJobs']}}</h1>
          </div>
       </div>

       <div class="box">
          <div class="box_heading">
             <h1>Today</h1>
          </div>
          <div class="box_value">
             <h1>{{output['dayCount']}}</h1>
          </div>
       </div>

       <div class="box">
          <div class="box_heading">
             <h1>This Week</h1>
          </div>
          <div class="box_value">
             <h1>{{output['weekCount']}}</h1>
          </div>
       </div>

       <div class="box">
          <div class="box_heading">
             <h1>This Months</h1>
          </div>
          <div class="box_value">
             <h1>{{output['monthCount']}}</h1>
          </div>
       </div>
        
    </div>    <!--box row end-->
    
</div>      <!--box set one end-->