<!-- 
<div class="content-row box_row">

   <div class="box">
      <div class="box_heading">
         <h1>Running Jobs</h1>
      </div>
      <div class="box_value">
         <h1>{{output['runningJobs']}}</h1>
      </div>
   </div>

   <div class="box">
      <div class="box_heading">
         <h1>Today</h1>
      </div>
      <div class="box_value">
         <h1>{{output['dayCount']}}</h1>
      </div>
   </div>

   <div class="box">
      <div class="box_heading">
         <h1>This Week</h1>
      </div>
      <div class="box_value">
         <h1>{{output['weekCount']}}</h1>
      </div>
   </div>

   <div class="box">
      <div class="box_heading">
         <h1>This Month</h1>
      </div>
      <div class="box_value">
         <h1>{{output['monthCount']}}</h1>
      </div>
   </div>

</div>  -->
