{% extends "layout.html"%}

    {% block body%}
    
   <form class="start-job-form"action="" method="POST">

    <div class="form-col-wrap">
    <div class="form-col-left">


        <table class="form-table-input-block">
             <tr><td class="form-label"><label>Operator:</label></td>
                    <td class="form-input">
                    <select name="operator">
                        <option value=""></option>
                        {% for op in oplist %}
                        <option value="{{op[0]}}">{{op[1]}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td class="form-label"><label>Job Name:</label></td>
                <td class="form-input"><input type="text" name ='job_name' required /></td>
            </tr>

            <tr>
                <td class="form-label"><label>Work Order:</label></td>
                <td class="form-input"><input type="text" name ='work_order' required/></td>
            </tr>

            <tr>
                <td class="form-label"><label>Work Cell:</label></td>
                <td class="form-input">
                    <select name="work_cell">
                        <option value=""></option>
                        {% for cell in workcellList  %}
                        <option value="{{cell[0]}}">{{cell[1]}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td class="form-label"><label>Job Type:</label></td>
                <td class="form-input">
                    <select  name="job_type">
                        <option value=""></option>
                        {% for type in typeList %}
                        <option value="{{type[0]}}">{{type[1]}}</option>
                        {% endfor %}
                    </select>

                </td>
            </tr>

            <tr>
                <td class="form-label"><label>Job Weight:</label></td>
                <td class="form-input"><input type="text" name ='job_weight' required/></td>
            </tr>

            <tr>
                <td class="form-label"><label>Last Operation:</label></td>
                <td class="form-input"> 
                    <select name="total_operations">
                    <option value=""></option>
                    {% for x in range(10) %}
                        {% if x!=0 %}
                            <option value="{{x * 10}}">{{x * 10}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </td>
            </tr>
        </table>

    </div>
    
    <div class="form-col-right">
        <div class="field-wrap">
            <fieldset class="ckbx-container">
                <div class="ckbx-heading"><h3>Does the Job have any of these?</h3></div>
                <div class="ckbx-input-set">
                    <div><label for="ip">In-Process Testing</label><input class="ckbx" id='ip' type="checkbox" name="in_process_testing" value="1"/></div>
                    <div><label for="pa"> Pre-adjustments</label><input class="ckbx" id ='pa'type="checkbox" name="predjustments" value="1"/></div>
                </div>
            </fieldset>
        </div>
    
        <div class="field-wrap note-wrap">
            <label>Operator Notes</label>
            <textarea class="notes" name ='notes' autocomplete="off"></textarea>
        </div>
        
        <div class="field-wrap fw-submit">
            <input class="submit" type="submit" name="Start_new_job" value="Start New Job">
        </div>
      
    </div>

   
</div>

  





   </form>
   

     
      {% endblock %}