<div class="rework-chart-heading">
   <h1>Job type Distribution</h1>
   <div>
    <div class="rw-normal">Normal</div>
    <div class="rw-rework">Rework</div>
    <div class="rw-doe">DOE</div>
   </div>
 
</div>
<div class="rework-charts">
    <div>
        <canvas id="reworkchart-day" width="200" height="250"></canvas>
    </div>
    <div>
        <canvas id="reworkchart-week" width="200" height="250"></canvas>
    </div>
    <div>
        <canvas id="reworkchart-month" width="200" height="250"></canvas>
    </div>
    <div>
        <canvas id="reworkchart-year" width="200" height="250"></canvas>
    </div>


</div>



