{% extends "layout.html"%}



{% block body%}   

<div class="content-col job-success">
    <div>
        <h1>Searcher</h1>
    </div>
    <div class="home-link">
        <a href="/">back to dashboard</a>
    </div>

    <div>
       
            <input type="text" name="val" id='searchTerm'>

            <ul>
                {% for word in words  %}
                    <li>{{word}}</li>
                {% endfor %}
            </ul>
           
            <script>
               
               
            </script>
        
    </div>

    <div>   
        
           
       
    </div>
   
  

</div>
 

{% endblock%}