<div class="_side-bar-menu">
    <div class="_nav">  
       <div class="nav_btn"><a href="/">Home</a></div>
       <div class="nav_btn"><a href="http://dmxreporting/ChemOps/Dashboard" target="_blank">Business Intel Portal</a></div>
       <div class="nav_btn"><a href="http://e1usa/" target="_blank">Enterprise One</a></div>
       <div class="nav_btn"><a a href="/report">Generate Report</a></div>
       <div class="nav_btn"><a>MDS Search</a></div>
       <div class="nav_btn"><a>Emergency Contacts</a></div>
       <div class="nav_btn"><a>Admin Area</a></div>
   </div>
</div>