

<div class="sub-nav-container">
    <div class="sub-nav-heading-container">
        <div class="sub-nav-heading-header">
            <h2>{{page}}</h2>
        </div>
    </div>
    <div class="sub-nav">
        <ul>
            <li class=''><a href="/new_job">Start New</a></li>
            <li class=''><a href="/runningjobs">Running Jobs</a></li>
            <li class=''><a href="">Complete today</a></li>
            <li class=''><a href="">Complete This Month</a></li>
            <!-- <li class=''><a href="">My Jobs</a></li> -->
        </ul>
    </div>
</div>
