{% extends "layout.html"%}

    {% block body%}

    

         <!----------------------------- UPdATE JOB -------------------------------------------------->

         <form class="content-row-update-job" action="" method="POST">
            <p class="update-label">Job Name:</p>
            <p class="update-label">Current Operator:</p>
            <p class="update-label">Work Order:</p>
            <p class="update-label">Work Cell:</p>
            <p class="update-label">Job Type:</p>
            <p class="update-label">Job Weight:</p>
            <p class="update-label">Current Status:</p>
            <div class="timestamp">
                <p style="font-weight: bold;">Last Log Time</p>
                <p>{{job['last activity']}}</p>
            </div>
            <p class="update-value">{{job['job name']}}</p>
            <p class="update-value">{{job['operator']}}</p>
            <p class="update-value">{{job['work order']}}</p>
            <p class="update-value">{{job['cell']}}</p>
            <p class="update-value">{{job['type']}}</p>
            <p class="update-value">{{job['weight']}} Kg</p>
            <p class="update-value">{{job['status']}}</p>
            
           




        <div class="radio-wrap">
            <h3 class="ckbx-heading">Select Operation</h3>
            
            <div class="radio-switch">
                <input  type="radio" name="action" id="add_note" value="{{job['status ID']}}" checked/>
                <label for="add_note">Add Note Only</label>

                <input  type="radio" name="action" id="pause" value="3"/>
                <label for="pause">Pause</label>

                <input  type="radio" name="action" id="resume" value="7"/>
                <label for="resume">Resume</label>

                <input  type="radio" name="action" id="abort" value="5"/>
                <label for="abort">Abort</label>

                <input  type="radio" name="action" id="complete" value="2"/>
                <label for="complete">Complete</label>
            </div>
         
        </div>


        <div class="note-wrap-update">
            <label>Operator Notes</label>
            <textarea class="notes" name ='notes' autocomplete="off">{{job['notes']}}</textarea>
        </div>

        <label class="form-label-update">Next Operator: </label>
        <label class="form-label-update">Next Operation: </label>

        <select class="form-input"  name="operator">
            <option value="{{job['operator ID']}}" selected='selected'>{{job['operator']}}</option>
            {% for op in oplist %}
            <option value="{{op[0]}}">{{op[1]}}</option>
            {% endfor %}
        </select>

        <select class="form-input" id="opval"  name="next-operation">
            {% for v in operationValues %}
                <option value="{{v}}">{{v}}</option>
            {% endfor %}
            

    
        </select>
 
        <input id="update-submit"class="submit" type="submit" name="Start_new_job" value="Update Job">

    </form> <!--end of the row-->
     
    <script>
        opVal = document.querySelector("#opval")

        btnComplete = document.querySelector("#complete").addEventListener("click", function(){
        // opVal.disabled = true;
    });
    </script>


     
      {% endblock %}